<a href="https://colab.research.google.com/github/carlos-douglasgauto/Python_Analise_planilhas/blob/main/AEREO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **OLÁ, SEJA BEM VINDA(O).**
**SIGA OS PASSOS PARA ELABORAÇÃO DAS PLANILHAS**

1- COLOQUE AS PLANILHAS STUR, WTS E MATRICULAS FURNAS

2- APERTE CTRL+F9

3- CLIQUE NO BOTÃO DO MEIO PARA ATUALIZAR E FAÇA O DOWNLOAD DOS ARQUIVOS GERADOS.

TENHA UM BOM TRABALHO!!!

In [73]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt

In [74]:
#ler planilhas
df_stur = pd.read_excel("/content/STUR AEREO.xlsx", skiprows=[0])
df_wts = pd.read_excel("/content/WTS AEREO.xls")
df_autorizador = pd.read_excel("/content/MATRICULAS FURNAS.xls")

In [75]:
df_autorizador = pd.DataFrame(df_autorizador)
datatypes_per_column = {
       "CÓDIGO_AUTORIZADOR": "string",
       "AUTORIZADOR": "string",
       #"Check-In / Início": "datetime64[ms]",
       #"Check-Out / Término": "datetime64[ms]",
       #"lor Diária Balcão [Apartamento]": "float64",
       }
  
df_autorizador = df_autorizador.astype(datatypes_per_column)

In [76]:
df_stur = pd.DataFrame(df_stur)
datatypes_per_column = {
       "Localizador": "string",
       "Autorizador": "string",
       }
  
df_stur = df_stur.astype(datatypes_per_column)

In [77]:
df_wts = pd.DataFrame(df_wts)
datatypes_per_column = {
       "LOCALIZADOR": "string",
       }
  
df_wts = df_wts.astype(datatypes_per_column)

In [78]:
#df_autorizador['AUTORIZADOR'] = df_autorizador['AUTORIZADOR'].apply(lambda _: str(_))

In [79]:
df_autorizador.dtypes

CÓDIGO_AUTORIZADOR    string
AUTORIZADOR           string
dtype: object

In [80]:
#df_stur['num_ped1'] = pd.to_numeric(df_stur['num_ped1'])

In [81]:
#df_stur['num_ped1'] = pd.to_numeric(df_stur['num_ped1'])

In [82]:
df_autorizador['Nome_Autorizador'] = df_autorizador['AUTORIZADOR'].str[:20]
df_autorizador.head()

  CÓDIGO_AUTORIZADOR                        AUTORIZADOR      Nome_Autorizador
0              22659              ABEL DE JESUS FORMOSO  ABEL DE JESUS FORMOS
1              23008  ABILIO JOSE DA ROCHA REIS CARDOSO  ABILIO JOSE DA ROCHA
2              22321               ABIRAN FIALHO FOGACA  ABIRAN FIALHO FOGACA
3              23086        ABNER AUGUSTO PACHECO PIRES  ABNER AUGUSTO PACHEC
4              19988            ADAILTON MENDES MACHADO  ADAILTON MENDES MACH

In [83]:
#colunas que estão com os ítens selecionados
colunas_selecionadas_aut = ['CÓDIGO_AUTORIZADOR', 'Nome_Autorizador']

In [84]:
#filtra e organiza os dados pelas colunas que foram passadas
df_autorizador = df_autorizador.filter(items=colunas_selecionadas_aut)
df_autorizador.head()

  CÓDIGO_AUTORIZADOR      Nome_Autorizador
0              22659  ABEL DE JESUS FORMOS
1              23008  ABILIO JOSE DA ROCHA
2              22321  ABIRAN FIALHO FOGACA
3              23086  ABNER AUGUSTO PACHEC
4              19988  ADAILTON MENDES MACH

In [85]:
#df_autorizador.to_excel('PLANILHA_nomes_Autorizador.xlsx', index=False)

In [86]:
# 1) ler Arquivos CSV
#Rhotel_csv = pd.read_csv("/content/hotel.csv", sep=";", encoding='ISO-8859-1')

In [87]:
#usando o sinal de +
df_trecho = pd.DataFrame(df_wts,columns=['LOCALIZADOR', 'DATA_APROVACAO', 'BILHETE', 'TRECHOS',
       'TRECHOS_CIDADE', 'TOTAL_TARIFA', 'TOTAL_TAXA_EMBARQUE',
       'OUTROS_VALORES', 'TOTAL_GERAL', 'TOTAL_PAGO', 'EMISSÃO/REEMISSÃO',
       'ORIGEM1', 'DESTINO1', 'DATA_PARTIDA1', 'DATA_CHEGADA1', 'TARIFA1',
       'TARIFA_SEM_ACORDO1', 'TARIFA_ALTERNATIVA1', 'DATA_ALTERNATIVA1',
       'TAXA_EMBARQUE1', 'VOO1', 'MAIOR_TARIFA1', 'MENOR_TARIFA1',
       'ORIGEM2', 'DESTINO2', 'DATA_PARTIDA2', 'DATA_CHEGADA2',
       'TARIFA_SEM_ACORDO2', 'TARIFA2', 'TARIFA_ALTERNATIVA2',
       'DATA_ALTERNATIVA2', 'TAXA_EMBARQUE2', 'VOO2', 'MAIOR_TARIFA2',
       'MENOR_TARIFA2', 'ORIGEM3', 'DESTINO3', 'DATA_PARTIDA3',
       'DATA_CHEGADA3', 'TARIFA_SEM_ACORDO3', 'TARIFA3',
       'TARIFA_ALTERNATIVA3', 'DATA_ALTERNATIVA3', 'TAXA_EMBARQUE3',
       'VOO3', 'MAIOR_TARIFA3', 'MENOR_TARIFA3', 'ORIGEM4', 'DESTINO4',
       'DATA_PARTIDA4', 'DATA_CHEGADA4', 'TARIFA_SEM_ACORDO4', 'TARIFA4',
       'TARIFA_ALTERNATIVA4', 'DATA_ALTERNATIVA4', 'TAXA_EMBARQUE4',
       'VOO4', 'MAIOR_TARIFA4', 'MENOR_TARIFA4', 'ORIGEM5', 'DESTINO5',
       'DATA_PARTIDA5', 'DATA_CHEGADA5', 'TARIFA_SEM_ACORDO5', 'TARIFA5',
       'TARIFA_ALTERNATIVA5', 'DATA_ALTERNATIVA5', 'TAXA_EMBARQUE5',
       'VOO5', 'MAIOR_TARIFA5', 'MENOR_TARIFA5', 'ORIGEM6', 'DESTINO6',
       'DATA_PARTIDA6', 'DATA_CHEGADA6', 'TARIFA_SEM_ACORDO6', 'TARIFA6',
       'TARIFA_ALTERNATIVA6', 'DATA_ALTERNATIVA6', 'TAXA_EMBARQUE6',
       'VOO6', 'MAIOR_TARIFA6', 'MENOR_TARIFA6'])
df_trecho['Trecho_1'] = df_trecho["ORIGEM1"]+ "/" + df_trecho["DESTINO1"]
df_trecho.head()

  LOCALIZADOR       DATA_APROVACAO  ...  MENOR_TARIFA6 Trecho_1
0      DIZJYG  01/09/2021 09:38:00  ...           0,00  SDU/CNF
1      XURLOG  01/09/2021 19:13:00  ...           0,00  CGH/SDU
2      XB5MYB  02/09/2021 11:13:00  ...           0,00  SDU/VCP
3      TRQHZO  02/09/2021 14:57:00  ...           0,00  SDU/RAO
4      0L3VQH  02/09/2021 15:04:00  ...           0,00  GYN/RAO

[5 rows x 84 columns]

In [88]:
df_trecho2 = pd.DataFrame(df_trecho,columns=['LOCALIZADOR', 'DATA_APROVACAO', 'BILHETE', 'TRECHOS',
       'TRECHOS_CIDADE', 'TOTAL_TARIFA', 'TOTAL_TAXA_EMBARQUE',
       'OUTROS_VALORES', 'TOTAL_GERAL', 'TOTAL_PAGO', 'EMISSÃO/REEMISSÃO',
       'ORIGEM1', 'DESTINO1', 'DATA_PARTIDA1', 'DATA_CHEGADA1', 'TARIFA1',
       'TARIFA_SEM_ACORDO1', 'TARIFA_ALTERNATIVA1', 'DATA_ALTERNATIVA1',
       'TAXA_EMBARQUE1', 'VOO1', 'MAIOR_TARIFA1', 'MENOR_TARIFA1',
       'ORIGEM2', 'DESTINO2', 'DATA_PARTIDA2', 'DATA_CHEGADA2',
       'TARIFA_SEM_ACORDO2', 'TARIFA2', 'TARIFA_ALTERNATIVA2',
       'DATA_ALTERNATIVA2', 'TAXA_EMBARQUE2', 'VOO2', 'MAIOR_TARIFA2',
       'MENOR_TARIFA2', 'ORIGEM3', 'DESTINO3', 'DATA_PARTIDA3',
       'DATA_CHEGADA3', 'TARIFA_SEM_ACORDO3', 'TARIFA3',
       'TARIFA_ALTERNATIVA3', 'DATA_ALTERNATIVA3', 'TAXA_EMBARQUE3',
       'VOO3', 'MAIOR_TARIFA3', 'MENOR_TARIFA3', 'ORIGEM4', 'DESTINO4',
       'DATA_PARTIDA4', 'DATA_CHEGADA4', 'TARIFA_SEM_ACORDO4', 'TARIFA4',
       'TARIFA_ALTERNATIVA4', 'DATA_ALTERNATIVA4', 'TAXA_EMBARQUE4',
       'VOO4', 'MAIOR_TARIFA4', 'MENOR_TARIFA4', 'ORIGEM5', 'DESTINO5',
       'DATA_PARTIDA5', 'DATA_CHEGADA5', 'TARIFA_SEM_ACORDO5', 'TARIFA5',
       'TARIFA_ALTERNATIVA5', 'DATA_ALTERNATIVA5', 'TAXA_EMBARQUE5',
       'VOO5', 'MAIOR_TARIFA5', 'MENOR_TARIFA5', 'ORIGEM6', 'DESTINO6',
       'DATA_PARTIDA6', 'DATA_CHEGADA6', 'TARIFA_SEM_ACORDO6', 'TARIFA6',
       'TARIFA_ALTERNATIVA6', 'DATA_ALTERNATIVA6', 'TAXA_EMBARQUE6',
       'VOO6', 'MAIOR_TARIFA6', 'MENOR_TARIFA6'])
df_trecho['Trecho_2'] = df_trecho["ORIGEM2"]+ "/" + df_trecho["DESTINO2"]
df_trecho.head()

  LOCALIZADOR       DATA_APROVACAO  ...  Trecho_1 Trecho_2
0      DIZJYG  01/09/2021 09:38:00  ...   SDU/CNF  CNF/SDU
1      XURLOG  01/09/2021 19:13:00  ...   CGH/SDU      NaN
2      XB5MYB  02/09/2021 11:13:00  ...   SDU/VCP  VCP/SDU
3      TRQHZO  02/09/2021 14:57:00  ...   SDU/RAO  RAO/SDU
4      0L3VQH  02/09/2021 15:04:00  ...   GYN/RAO  RAO/GYN

[5 rows x 85 columns]

In [89]:
df_trecho3 = pd.DataFrame(df_trecho2,columns=['LOCALIZADOR', 'DATA_APROVACAO', 'BILHETE', 'TRECHOS',
       'TRECHOS_CIDADE', 'TOTAL_TARIFA', 'TOTAL_TAXA_EMBARQUE',
       'OUTROS_VALORES', 'TOTAL_GERAL', 'TOTAL_PAGO', 'EMISSÃO/REEMISSÃO',
       'ORIGEM1', 'DESTINO1', 'DATA_PARTIDA1', 'DATA_CHEGADA1', 'TARIFA1',
       'TARIFA_SEM_ACORDO1', 'TARIFA_ALTERNATIVA1', 'DATA_ALTERNATIVA1',
       'TAXA_EMBARQUE1', 'VOO1', 'MAIOR_TARIFA1', 'MENOR_TARIFA1',
       'ORIGEM2', 'DESTINO2', 'DATA_PARTIDA2', 'DATA_CHEGADA2',
       'TARIFA_SEM_ACORDO2', 'TARIFA2', 'TARIFA_ALTERNATIVA2',
       'DATA_ALTERNATIVA2', 'TAXA_EMBARQUE2', 'VOO2', 'MAIOR_TARIFA2',
       'MENOR_TARIFA2', 'ORIGEM3', 'DESTINO3', 'DATA_PARTIDA3',
       'DATA_CHEGADA3', 'TARIFA_SEM_ACORDO3', 'TARIFA3',
       'TARIFA_ALTERNATIVA3', 'DATA_ALTERNATIVA3', 'TAXA_EMBARQUE3',
       'VOO3', 'MAIOR_TARIFA3', 'MENOR_TARIFA3', 'ORIGEM4', 'DESTINO4',
       'DATA_PARTIDA4', 'DATA_CHEGADA4', 'TARIFA_SEM_ACORDO4', 'TARIFA4',
       'TARIFA_ALTERNATIVA4', 'DATA_ALTERNATIVA4', 'TAXA_EMBARQUE4',
       'VOO4', 'MAIOR_TARIFA4', 'MENOR_TARIFA4', 'ORIGEM5', 'DESTINO5',
       'DATA_PARTIDA5', 'DATA_CHEGADA5', 'TARIFA_SEM_ACORDO5', 'TARIFA5',
       'TARIFA_ALTERNATIVA5', 'DATA_ALTERNATIVA5', 'TAXA_EMBARQUE5',
       'VOO5', 'MAIOR_TARIFA5', 'MENOR_TARIFA5', 'ORIGEM6', 'DESTINO6',
       'DATA_PARTIDA6', 'DATA_CHEGADA6', 'TARIFA_SEM_ACORDO6', 'TARIFA6',
       'TARIFA_ALTERNATIVA6', 'DATA_ALTERNATIVA6', 'TAXA_EMBARQUE6',
       'VOO6', 'MAIOR_TARIFA6', 'MENOR_TARIFA6'])
df_trecho['Trecho_3'] = df_trecho["ORIGEM3"]+ "/" + df_trecho["DESTINO3"]
df_trecho.head()

  LOCALIZADOR       DATA_APROVACAO       BILHETE  ... Trecho_1 Trecho_2 Trecho_3
0      DIZJYG  01/09/2021 09:38:00  1.701204e+10  ...  SDU/CNF  CNF/SDU      NaN
1      XURLOG  01/09/2021 19:13:00  9.572155e+12  ...  CGH/SDU      NaN      NaN
2      XB5MYB  02/09/2021 11:13:00  1.701204e+10  ...  SDU/VCP  VCP/SDU      NaN
3      TRQHZO  02/09/2021 14:57:00  9.572155e+12  ...  SDU/RAO  RAO/SDU      NaN
4      0L3VQH  02/09/2021 15:04:00  9.631010e+12  ...  GYN/RAO  RAO/GYN      NaN

[5 rows x 86 columns]

In [90]:
df_trecho4 = pd.DataFrame(df_trecho3,columns=['LOCALIZADOR', 'DATA_APROVACAO', 'BILHETE', 'TRECHOS',
       'TRECHOS_CIDADE', 'TOTAL_TARIFA', 'TOTAL_TAXA_EMBARQUE',
       'OUTROS_VALORES', 'TOTAL_GERAL', 'TOTAL_PAGO', 'EMISSÃO/REEMISSÃO',
       'ORIGEM1', 'DESTINO1', 'DATA_PARTIDA1', 'DATA_CHEGADA1', 'TARIFA1',
       'TARIFA_SEM_ACORDO1', 'TARIFA_ALTERNATIVA1', 'DATA_ALTERNATIVA1',
       'TAXA_EMBARQUE1', 'VOO1', 'MAIOR_TARIFA1', 'MENOR_TARIFA1',
       'ORIGEM2', 'DESTINO2', 'DATA_PARTIDA2', 'DATA_CHEGADA2',
       'TARIFA_SEM_ACORDO2', 'TARIFA2', 'TARIFA_ALTERNATIVA2',
       'DATA_ALTERNATIVA2', 'TAXA_EMBARQUE2', 'VOO2', 'MAIOR_TARIFA2',
       'MENOR_TARIFA2', 'ORIGEM3', 'DESTINO3', 'DATA_PARTIDA3',
       'DATA_CHEGADA3', 'TARIFA_SEM_ACORDO3', 'TARIFA3',
       'TARIFA_ALTERNATIVA3', 'DATA_ALTERNATIVA3', 'TAXA_EMBARQUE3',
       'VOO3', 'MAIOR_TARIFA3', 'MENOR_TARIFA3', 'ORIGEM4', 'DESTINO4',
       'DATA_PARTIDA4', 'DATA_CHEGADA4', 'TARIFA_SEM_ACORDO4', 'TARIFA4',
       'TARIFA_ALTERNATIVA4', 'DATA_ALTERNATIVA4', 'TAXA_EMBARQUE4',
       'VOO4', 'MAIOR_TARIFA4', 'MENOR_TARIFA4', 'ORIGEM5', 'DESTINO5',
       'DATA_PARTIDA5', 'DATA_CHEGADA5', 'TARIFA_SEM_ACORDO5', 'TARIFA5',
       'TARIFA_ALTERNATIVA5', 'DATA_ALTERNATIVA5', 'TAXA_EMBARQUE5',
       'VOO5', 'MAIOR_TARIFA5', 'MENOR_TARIFA5', 'ORIGEM6', 'DESTINO6',
       'DATA_PARTIDA6', 'DATA_CHEGADA6', 'TARIFA_SEM_ACORDO6', 'TARIFA6',
       'TARIFA_ALTERNATIVA6', 'DATA_ALTERNATIVA6', 'TAXA_EMBARQUE6',
       'VOO6', 'MAIOR_TARIFA6', 'MENOR_TARIFA6'])
df_trecho['Trecho_4'] = df_trecho["ORIGEM4"]+ "/" + df_trecho["DESTINO4"]
df_trecho.head()

  LOCALIZADOR       DATA_APROVACAO       BILHETE  ... Trecho_2 Trecho_3 Trecho_4
0      DIZJYG  01/09/2021 09:38:00  1.701204e+10  ...  CNF/SDU      NaN      NaN
1      XURLOG  01/09/2021 19:13:00  9.572155e+12  ...      NaN      NaN      NaN
2      XB5MYB  02/09/2021 11:13:00  1.701204e+10  ...  VCP/SDU      NaN      NaN
3      TRQHZO  02/09/2021 14:57:00  9.572155e+12  ...  RAO/SDU      NaN      NaN
4      0L3VQH  02/09/2021 15:04:00  9.631010e+12  ...  RAO/GYN      NaN      NaN

[5 rows x 87 columns]

In [91]:
df_trecho5 = pd.DataFrame(df_trecho4,columns=['LOCALIZADOR', 'DATA_APROVACAO', 'BILHETE', 'TRECHOS',
       'TRECHOS_CIDADE', 'TOTAL_TARIFA', 'TOTAL_TAXA_EMBARQUE',
       'OUTROS_VALORES', 'TOTAL_GERAL', 'TOTAL_PAGO', 'EMISSÃO/REEMISSÃO',
       'ORIGEM1', 'DESTINO1', 'DATA_PARTIDA1', 'DATA_CHEGADA1', 'TARIFA1',
       'TARIFA_SEM_ACORDO1', 'TARIFA_ALTERNATIVA1', 'DATA_ALTERNATIVA1',
       'TAXA_EMBARQUE1', 'VOO1', 'MAIOR_TARIFA1', 'MENOR_TARIFA1',
       'ORIGEM2', 'DESTINO2', 'DATA_PARTIDA2', 'DATA_CHEGADA2',
       'TARIFA_SEM_ACORDO2', 'TARIFA2', 'TARIFA_ALTERNATIVA2',
       'DATA_ALTERNATIVA2', 'TAXA_EMBARQUE2', 'VOO2', 'MAIOR_TARIFA2',
       'MENOR_TARIFA2', 'ORIGEM3', 'DESTINO3', 'DATA_PARTIDA3',
       'DATA_CHEGADA3', 'TARIFA_SEM_ACORDO3', 'TARIFA3',
       'TARIFA_ALTERNATIVA3', 'DATA_ALTERNATIVA3', 'TAXA_EMBARQUE3',
       'VOO3', 'MAIOR_TARIFA3', 'MENOR_TARIFA3', 'ORIGEM4', 'DESTINO4',
       'DATA_PARTIDA4', 'DATA_CHEGADA4', 'TARIFA_SEM_ACORDO4', 'TARIFA4',
       'TARIFA_ALTERNATIVA4', 'DATA_ALTERNATIVA4', 'TAXA_EMBARQUE4',
       'VOO4', 'MAIOR_TARIFA4', 'MENOR_TARIFA4', 'ORIGEM5', 'DESTINO5',
       'DATA_PARTIDA5', 'DATA_CHEGADA5', 'TARIFA_SEM_ACORDO5', 'TARIFA5',
       'TARIFA_ALTERNATIVA5', 'DATA_ALTERNATIVA5', 'TAXA_EMBARQUE5',
       'VOO5', 'MAIOR_TARIFA5', 'MENOR_TARIFA5', 'ORIGEM6', 'DESTINO6',
       'DATA_PARTIDA6', 'DATA_CHEGADA6', 'TARIFA_SEM_ACORDO6', 'TARIFA6',
       'TARIFA_ALTERNATIVA6', 'DATA_ALTERNATIVA6', 'TAXA_EMBARQUE6',
       'VOO6', 'MAIOR_TARIFA6', 'MENOR_TARIFA6'])
df_trecho['Trecho_5'] = df_trecho["ORIGEM5"]+ "/" + df_trecho["DESTINO5"]
df_trecho.head()

  LOCALIZADOR       DATA_APROVACAO       BILHETE  ... Trecho_3 Trecho_4 Trecho_5
0      DIZJYG  01/09/2021 09:38:00  1.701204e+10  ...      NaN      NaN      NaN
1      XURLOG  01/09/2021 19:13:00  9.572155e+12  ...      NaN      NaN      NaN
2      XB5MYB  02/09/2021 11:13:00  1.701204e+10  ...      NaN      NaN      NaN
3      TRQHZO  02/09/2021 14:57:00  9.572155e+12  ...      NaN      NaN      NaN
4      0L3VQH  02/09/2021 15:04:00  9.631010e+12  ...      NaN      NaN      NaN

[5 rows x 88 columns]

In [92]:
df_trecho6 = pd.DataFrame(df_trecho5,columns=['LOCALIZADOR', 'DATA_APROVACAO', 'BILHETE', 'TRECHOS',
       'TRECHOS_CIDADE', 'TOTAL_TARIFA', 'TOTAL_TAXA_EMBARQUE',
       'OUTROS_VALORES', 'TOTAL_GERAL', 'TOTAL_PAGO', 'EMISSÃO/REEMISSÃO',
       'ORIGEM1', 'DESTINO1', 'DATA_PARTIDA1', 'DATA_CHEGADA1', 'TARIFA1',
       'TARIFA_SEM_ACORDO1', 'TARIFA_ALTERNATIVA1', 'DATA_ALTERNATIVA1',
       'TAXA_EMBARQUE1', 'VOO1', 'MAIOR_TARIFA1', 'MENOR_TARIFA1',
       'ORIGEM2', 'DESTINO2', 'DATA_PARTIDA2', 'DATA_CHEGADA2',
       'TARIFA_SEM_ACORDO2', 'TARIFA2', 'TARIFA_ALTERNATIVA2',
       'DATA_ALTERNATIVA2', 'TAXA_EMBARQUE2', 'VOO2', 'MAIOR_TARIFA2',
       'MENOR_TARIFA2', 'ORIGEM3', 'DESTINO3', 'DATA_PARTIDA3',
       'DATA_CHEGADA3', 'TARIFA_SEM_ACORDO3', 'TARIFA3',
       'TARIFA_ALTERNATIVA3', 'DATA_ALTERNATIVA3', 'TAXA_EMBARQUE3',
       'VOO3', 'MAIOR_TARIFA3', 'MENOR_TARIFA3', 'ORIGEM4', 'DESTINO4',
       'DATA_PARTIDA4', 'DATA_CHEGADA4', 'TARIFA_SEM_ACORDO4', 'TARIFA4',
       'TARIFA_ALTERNATIVA4', 'DATA_ALTERNATIVA4', 'TAXA_EMBARQUE4',
       'VOO4', 'MAIOR_TARIFA4', 'MENOR_TARIFA4', 'ORIGEM5', 'DESTINO5',
       'DATA_PARTIDA5', 'DATA_CHEGADA5', 'TARIFA_SEM_ACORDO5', 'TARIFA5',
       'TARIFA_ALTERNATIVA5', 'DATA_ALTERNATIVA5', 'TAXA_EMBARQUE5',
       'VOO5', 'MAIOR_TARIFA5', 'MENOR_TARIFA5', 'ORIGEM6', 'DESTINO6',
       'DATA_PARTIDA6', 'DATA_CHEGADA6', 'TARIFA_SEM_ACORDO6', 'TARIFA6',
       'TARIFA_ALTERNATIVA6', 'DATA_ALTERNATIVA6', 'TAXA_EMBARQUE6',
       'VOO6', 'MAIOR_TARIFA6', 'MENOR_TARIFA6'])
df_trecho['Trecho_6'] = df_trecho["ORIGEM6"]+ "/" + df_trecho["DESTINO6"]
df_trecho.head()

  LOCALIZADOR       DATA_APROVACAO       BILHETE  ... Trecho_4 Trecho_5 Trecho_6
0      DIZJYG  01/09/2021 09:38:00  1.701204e+10  ...      NaN      NaN      NaN
1      XURLOG  01/09/2021 19:13:00  9.572155e+12  ...      NaN      NaN      NaN
2      XB5MYB  02/09/2021 11:13:00  1.701204e+10  ...      NaN      NaN      NaN
3      TRQHZO  02/09/2021 14:57:00  9.572155e+12  ...      NaN      NaN      NaN
4      0L3VQH  02/09/2021 15:04:00  9.631010e+12  ...      NaN      NaN      NaN

[5 rows x 89 columns]

In [93]:
df_trecho.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 89 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOCALIZADOR          540 non-null    string
 1   DATA_APROVACAO       540 non-null    object
 2   BILHETE              540 non-null    float64
 3   TRECHOS              540 non-null    object
 4   TRECHOS_CIDADE       540 non-null    object
 5   TOTAL_TARIFA         540 non-null    object
 6   TOTAL_TAXA_EMBARQUE  540 non-null    object
 7   OUTROS_VALORES       540 non-null    object
 8   TOTAL_GERAL          540 non-null    object
 9   TOTAL_PAGO           540 non-null    object
 10  EMISSÃO/REEMISSÃO    540 non-null    object
 11  ORIGEM1              540 non-null    object
 12  DESTINO1             540 non-null    object
 13  DATA_PARTIDA1        540 non-null    object
 14  DATA_CHEGADA1        540 non-null    object
 15  TARIFA1              540 non-null    object
 16  TARIFA_SEM_ACORDO1   540 non-null    object
 17  TARIFA_ALTERNATIVA1  540 non-null    object
 18  DATA_ALTERNATIVA1    540 non-null    object
 19  TAXA_EMBARQUE1       540 non-null    object
 20  VOO1                 540 non-null    object
 21  MAIOR_TARIFA1        540 non-null    object
 22  MENOR_TARIFA1        540 non-null    object
 23  ORIGEM2              209 non-null    object
 24  DESTINO2             209 non-null    object
 25  DATA_PARTIDA2        209 non-null    object
 26  DATA_CHEGADA2        209 non-null    object
 27  TARIFA_SEM_ACORDO2   540 non-null    object
 28  TARIFA2              540 non-null    object
 29  TARIFA_ALTERNATIVA2  214 non-null    object
 30  DATA_ALTERNATIVA2    214 non-null    object
 31  TAXA_EMBARQUE2       540 non-null    object
 32  VOO2                 209 non-null    object
 33  MAIOR_TARIFA2        540 non-null    object
 34  MENOR_TARIFA2        540 non-null    object
 35  ORIGEM3              0 non-null      float64
 36  DESTINO3             0 non-null      float64
 37  DATA_PARTIDA3        0 non-null      float64
 38  DATA_CHEGADA3        0 non-null      float64
 39  TARIFA_SEM_ACORDO3   540 non-null    object
 40  TARIFA3              540 non-null    object
 41  TARIFA_ALTERNATIVA3  3 non-null      object
 42  DATA_ALTERNATIVA3    2 non-null      object
 43  TAXA_EMBARQUE3       540 non-null    object
 44  VOO3                 0 non-null      float64
 45  MAIOR_TARIFA3        540 non-null    object
 46  MENOR_TARIFA3        540 non-null    object
 47  ORIGEM4              0 non-null      float64
 48  DESTINO4             0 non-null      float64
 49  DATA_PARTIDA4        0 non-null      float64
 50  DATA_CHEGADA4        0 non-null      float64
 51  TARIFA_SEM_ACORDO4   540 non-null    object
 52  TARIFA4              540 non-null    object
 53  TARIFA_ALTERNATIVA4  2 non-null      object
 54  DATA_ALTERNATIVA4    1 non-null      object
 55  TAXA_EMBARQUE4       540 non-null    object
 56  VOO4                 0 non-null      float64
 57  MAIOR_TARIFA4        540 non-null    object
 58  MENOR_TARIFA4        540 non-null    object
 59  ORIGEM5              0 non-null      float64
 60  DESTINO5             0 non-null      float64
 61  DATA_PARTIDA5        0 non-null      float64
 62  DATA_CHEGADA5        0 non-null      float64
 63  TARIFA_SEM_ACORDO5   540 non-null    object
 64  TARIFA5              540 non-null    object
 65  TARIFA_ALTERNATIVA5  1 non-null      object
 66  DATA_ALTERNATIVA5    0 non-null      float64
 67  TAXA_EMBARQUE5       540 non-null    object
 68  VOO5                 0 non-null      float64
 69  MAIOR_TARIFA5        540 non-null    object
 70  MENOR_TARIFA5        540 non-null    object
 71  ORIGEM6              0 non-null      float64
 72  DESTINO6             0 non-null      float64
 73  DATA_PARTIDA6        0 non-null      float64
 74  DATA_CHEGADA6        0 non-null      float64
 75  TARIFA_SEM_ACORDO6   540 non-null    object
 76  TARIFA6              540 non-null    object
 77  TARIFA_ALTERNATIVA6  1 non-null      object
 78  DATA_ALTERNATIVA6    0 non-null      float64
 79  TAXA_EMBARQUE6       540 non-null    object
 80  VOO6                 0 non-null      float64
 81  MAIOR_TARIFA6        540 non-null    object
 82  MENOR_TARIFA6        540 non-null    object
 83  Trecho_1             540 non-null    object
 84  Trecho_2             209 non-null    object
 85  Trecho_3             0 non-null      float64
 86  Trecho_4             0 non-null      float64
 87  Trecho_5             0 non-null      float64
 88  Trecho_6             0 non-null      float64
dtypes: float64(27), object(61), string(1)
memory usage: 376.3+ KB

In [94]:
df_stur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 62 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Dt. Desembarque                        11 non-null     datetime64[ns]
 1   Matrícula                              11 non-null     int64
 2   Nome [Passageiro]                      11 non-null     object
 3   Cia [Trecho]                           11 non-null     object
 4   Fornecedor do Serviço                  11 non-null     object
 5   Sigla Cia. Aérea                       11 non-null     object
 6   Localizador                            11 non-null     string
 7   Bilhete                                11 non-null     int64
 8   Data Emissão                           11 non-null     datetime64[ns]
 9   Class.Produto                          11 non-null     object
 10  Valor [Recebimento]                    11 non-null     float64
 11  Tarifa [R$] Cliente                    11 non-null     float64
 12  Tx.Embarque                            11 non-null     float64
 13  Tx.Extra                               11 non-null     int64
 14  Tarifa Cheia Cliente                   11 non-null     float64
 15  N° Viagem                              11 non-null     int64
 16  N°.Reg.Gov.                            11 non-null     int64
 17  Fatura [Recebimento]                   11 non-null     object
 18  C.Custo Cliente (Descrição)            11 non-null     object
 19  Tx.Sucesso                             11 non-null     int64
 20  Taxa DU Líquida                        11 non-null     int64
 21  Forma Cartão [Recebimento]             0 non-null      float64
 22  Comissão Emissor Externo               11 non-null     int64
 23  Economia Realizada                     11 non-null     float64
 24  Rota Completa                          11 non-null     object
 25  Data Saída [Trecho]                    11 non-null     datetime64[ns]
 26  Valor Acordo                           11 non-null     int64
 27  Valor Comis.AGT.                       11 non-null     int64
 28  Voos da Rota                           11 non-null     object
 29  Data Cancelamento                      0 non-null      float64
 30  Valor Comis.Rec.                       11 non-null     int64
 31  Valor CPMF                             11 non-null     int64
 32  Voo [Trecho]                           11 non-null     int64
 33  Data Devolução                         0 non-null      float64
 34  Valor Câmbio                           11 non-null     int64
 35  Valor Câmbio Fornec                    11 non-null     int64
 36  Data Exp. Documento                    0 non-null      float64
 37  Valor Comis.Rep.                       11 non-null     int64
 38  Valor Diária Balcão [Apartamento]      11 non-null     int64
 39  Cupom [Trecho]                         11 non-null     int64
 40  Data Nascimento [Passageiro]           0 non-null      float64
 41  Valor Apli. Rec.                       11 non-null     int64
 42  Valor Diária [Apartamento]             11 non-null     int64
 43  Cód. tarifa [Trecho]                   0 non-null      float64
 44  Data Nascimento Pax                    0 non-null      float64
 45  Valor ISS Aplicado.                    11 non-null     int64
 46  Valor Geral Taxas (Cliente)            11 non-null     float64
 47  Classe [Trecho]                        11 non-null     object
 48  Classe do Vôo                          0 non-null      float64
 49  Classes da Rota                        11 non-null     object
 50  Regime                                 0 non-null      float64
 51  CPF Passageiro                         0 non-null      float64
 52  Cód. tarifa da rota                    0 non-null      float64
 53  Cód. Autorização Cartão [Recebimento]  0 non-null      float64
 54  Autorizador                            11 non-null     string
 55  Atividade                              0 non-null      float64
 56  Antecedência                           11 non-null     int64
 57  Data Retirada                          0 non-null      float64
 58  Fee Pagar                              11 non-null     int64
 59  Motivo da Viagem                       11 non-null     object
 60  Número Pedido                          11 non-null     object
 61  Reserva                                11 non-null     int64
dtypes: datetime64[ns](3), float64(20), int64(24), object(13), string(2)
memory usage: 5.5+ KB

In [95]:

#
##
###faz um merge usando o localizador como referência
fusao_plan = pd.merge(df_stur,df_trecho, how='left', left_on=['Localizador'],right_on=['LOCALIZADOR'])
fusao_plan = fusao_plan.sort_values('Reserva', ascending=True)

In [96]:
#insere novas colunas que vão ficar em branco
fusao_plan.insert(loc=1, column='data_chegada_txt',value=" ")
fusao_plan.insert(loc=2, column='taxa_fee',value=" ")
fusao_plan.insert(loc=3, column='taxa_fee_paga',value=" ")
fusao_plan.insert(loc=4, column='fatura_paga',value=" ")
fusao_plan.insert(loc=5, column='comissao',value=" ")
fusao_plan.insert(loc=6, column='taxa_fee_reembolso',value=" ")
#fusao_plan.insert(loc=7, column='classe_trecho_1',value=" ")
fusao_plan.insert(loc=8, column='classe_trecho_2',value=" ")
fusao_plan.insert(loc=9, column='classe_trecho_3',value=" ")
fusao_plan.insert(loc=10, column='classe_trecho_4',value=" ")
fusao_plan.insert(loc=11, column='classe_trecho_5',value=" ")
fusao_plan.insert(loc=12, column='classe_trecho_6',value=" ")
fusao_plan.head()

  Dt. Desembarque data_chegada_txt taxa_fee  ... Trecho_4 Trecho_5 Trecho_6
0      2021-10-01                            ...      NaN      NaN      NaN
1      2021-10-01                            ...      NaN      NaN      NaN
2      2021-10-08                            ...      NaN      NaN      NaN
3      2021-09-28                            ...      NaN      NaN      NaN
4      2021-10-22                            ...      NaN      NaN      NaN

[5 rows x 162 columns]

In [97]:
fusao_plan.columns.values

array(['Dt. Desembarque', 'data_chegada_txt', 'taxa_fee', 'taxa_fee_paga',
       'fatura_paga', 'comissao', 'taxa_fee_reembolso', 'Matrícula',
       'classe_trecho_2', 'classe_trecho_3', 'classe_trecho_4',
       'classe_trecho_5', 'classe_trecho_6', 'Nome [Passageiro]',
       'Cia [Trecho]', 'Fornecedor do Serviço', 'Sigla Cia. Aérea',
       'Localizador', 'Bilhete', 'Data Emissão', 'Class.Produto',
       'Valor [Recebimento]', 'Tarifa [R$] Cliente', 'Tx.Embarque',
       'Tx.Extra', 'Tarifa Cheia Cliente', 'N° Viagem', 'N°.Reg.Gov.',
       'Fatura [Recebimento]', 'C.Custo Cliente (Descrição)',
       'Tx.Sucesso', 'Taxa DU Líquida', 'Forma Cartão [Recebimento]',
       'Comissão Emissor Externo', 'Economia Realizada', 'Rota Completa',
       'Data Saída [Trecho]', 'Valor Acordo', 'Valor Comis.AGT.',
       'Voos da Rota', 'Data Cancelamento', 'Valor Comis.Rec.',
       'Valor CPMF', 'Voo [Trecho]', 'Data Devolução', 'Valor Câmbio',
       'Valor Câmbio Fornec', 'Data Exp. Documento', 'Valor Comis.Rep.',
       'Valor Diária Balcão [Apartamento]', 'Cupom [Trecho]',
       'Data Nascimento [Passageiro]', 'Valor Apli. Rec.',
       'Valor Diária [Apartamento]', 'Cód. tarifa [Trecho]',
       'Data Nascimento Pax', 'Valor ISS Aplicado.',
       'Valor Geral Taxas (Cliente)', 'Classe [Trecho]', 'Classe do Vôo',
       'Classes da Rota', 'Regime', 'CPF Passageiro',
       'Cód. tarifa da rota', 'Cód. Autorização Cartão [Recebimento]',
       'Autorizador', 'Atividade', 'Antecedência', 'Data Retirada',
       'Fee Pagar', 'Motivo da Viagem', 'Número Pedido', 'Reserva',
       'LOCALIZADOR', 'DATA_APROVACAO', 'BILHETE', 'TRECHOS',
       'TRECHOS_CIDADE', 'TOTAL_TARIFA', 'TOTAL_TAXA_EMBARQUE',
       'OUTROS_VALORES', 'TOTAL_GERAL', 'TOTAL_PAGO', 'EMISSÃO/REEMISSÃO',
       'ORIGEM1', 'DESTINO1', 'DATA_PARTIDA1', 'DATA_CHEGADA1', 'TARIFA1',
       'TARIFA_SEM_ACORDO1', 'TARIFA_ALTERNATIVA1', 'DATA_ALTERNATIVA1',
       'TAXA_EMBARQUE1', 'VOO1', 'MAIOR_TARIFA1', 'MENOR_TARIFA1',
       'ORIGEM2', 'DESTINO2', 'DATA_PARTIDA2', 'DATA_CHEGADA2',
       'TARIFA_SEM_ACORDO2', 'TARIFA2', 'TARIFA_ALTERNATIVA2',
       'DATA_ALTERNATIVA2', 'TAXA_EMBARQUE2', 'VOO2', 'MAIOR_TARIFA2',
       'MENOR_TARIFA2', 'ORIGEM3', 'DESTINO3', 'DATA_PARTIDA3',
       'DATA_CHEGADA3', 'TARIFA_SEM_ACORDO3', 'TARIFA3',
       'TARIFA_ALTERNATIVA3', 'DATA_ALTERNATIVA3', 'TAXA_EMBARQUE3',
       'VOO3', 'MAIOR_TARIFA3', 'MENOR_TARIFA3', 'ORIGEM4', 'DESTINO4',
       'DATA_PARTIDA4', 'DATA_CHEGADA4', 'TARIFA_SEM_ACORDO4', 'TARIFA4',
       'TARIFA_ALTERNATIVA4', 'DATA_ALTERNATIVA4', 'TAXA_EMBARQUE4',
       'VOO4', 'MAIOR_TARIFA4', 'MENOR_TARIFA4', 'ORIGEM5', 'DESTINO5',
       'DATA_PARTIDA5', 'DATA_CHEGADA5', 'TARIFA_SEM_ACORDO5', 'TARIFA5',
       'TARIFA_ALTERNATIVA5', 'DATA_ALTERNATIVA5', 'TAXA_EMBARQUE5',
       'VOO5', 'MAIOR_TARIFA5', 'MENOR_TARIFA5', 'ORIGEM6', 'DESTINO6',
       'DATA_PARTIDA6', 'DATA_CHEGADA6', 'TARIFA_SEM_ACORDO6', 'TARIFA6',
       'TARIFA_ALTERNATIVA6', 'DATA_ALTERNATIVA6', 'TAXA_EMBARQUE6',
       'VOO6', 'MAIOR_TARIFA6', 'MENOR_TARIFA6', 'Trecho_1', 'Trecho_2',
       'Trecho_3', 'Trecho_4', 'Trecho_5', 'Trecho_6'], dtype=object)

In [98]:
fusao_plan[['Data_Aprovacao', 'Hora_Aprovacao']] = fusao_plan['DATA_APROVACAO'].str.split(' ', expand=True)

In [99]:
fusao_plan['Data Emissão'] = pd.to_datetime(fusao_plan['Data Emissão'])

In [100]:
fusao_plan['Data Saída [Trecho]'] = pd.to_datetime(fusao_plan['Data Saída [Trecho]'])

In [101]:
fusao_plan['Data Emissão'] = fusao_plan['Data Emissão'].dt.strftime('%d/%m/%Y')

In [102]:
fusao_plan['Data Saída [Trecho]'] = fusao_plan['Data Saída [Trecho]'].dt.strftime('%d/%m/%Y')

In [103]:
fusao_plan['Localizador'] = fusao_plan['Localizador'].apply(lambda _: str(_))

In [104]:
#fusao_plan['Data Saída [Trecho]'] = fusao_plan['Data Saída [Trecho]'].apply(lambda _: str(_))

In [105]:
fusao_plan['LOCALIZADOR'].value_counts()

GBHDTL    1
WESKPS    1
0L9EVV    1
YEZ9JV    1
ZUDMWU    1
WOWWRG    1
RHD8YZ    1
XDVW6F    1
UFLRYC    1
VWKIRE    1
EIWZXS    1
Name: LOCALIZADOR, dtype: Int64

In [106]:
#colunas selecionadas para montar a planilha seguindo a ordem
colunas_selecionadas = ["data_chegada_txt",
"Matrícula",
"Nome [Passageiro]",
"Cia [Trecho]",
"Fornecedor do Serviço", 
"Sigla Cia. Aérea",
"Localizador",
"Bilhete",
"Data Emissão",
"Class.Produto",
"Valor [Recebimento]",
"Tarifa [R$] Cliente",
"Tx.Embarque",
"Tx.Extra",
"Tarifa Cheia Cliente",
"Número Pedido",
"N°.Reg.Gov.",
"Fatura [Recebimento]",
"C.Custo Cliente (Descrição)",
'taxa_fee',
'taxa_fee_paga',
'fatura_paga',
"Comissão Emissor Externo",
"Economia Realizada",
"Trecho_1",
"Data Saída [Trecho]",
'TARIFA1',
"TAXA_EMBARQUE1",
"Trecho_2",
'DATA_CHEGADA2',
"TARIFA2",
'TAXA_EMBARQUE2',
"Trecho_3",
'DATA_CHEGADA3',
"TARIFA3",
'TAXA_EMBARQUE3',
"Trecho_4",
'DATA_CHEGADA4',
"TARIFA4",
'TAXA_EMBARQUE4',
"Trecho_5",
'DATA_CHEGADA5',
"TARIFA5",
'TAXA_EMBARQUE5',
"Trecho_6",
'DATA_CHEGADA6',
"TARIFA6",
'TAXA_EMBARQUE6',
'Classe [Trecho]',
'classe_trecho_2',
'classe_trecho_3',
'classe_trecho_4',
'classe_trecho_5',
'classe_trecho_6',
"CÓDIGO_AUTORIZADOR",
"Data_Aprovacao", 
"Hora_Aprovacao", 
"taxa_fee_reembolso",
"Motivo da Viagem",
"Autorizador",
 "Nome_Autorizador", ]

In [107]:
#filtra e organiza os dados pelas colunas que foram passadas
dados_separados = fusao_plan.filter(items=colunas_selecionadas)

In [108]:
dados_separados_aereo = pd.merge(dados_separados,df_autorizador, how='left', left_on=['Autorizador'],right_on=['Nome_Autorizador'])
dados_separados_aereo.head()

  data_chegada_txt  Matrícula  ... CÓDIGO_AUTORIZADOR      Nome_Autorizador
0                       17775  ...              19763  LUCIANO ROBERTO BARB
1                       22545  ...              21065  FABIO DA SILVA LACER
2                       22615  ...              19684  DEMETRIUS MEIRA FERR
3                       22472  ...              21065  FABIO DA SILVA LACER
4                       19675  ...              19725  IVAN CARLOS CARDOSO

[5 rows x 61 columns]

In [109]:
#colunas que estão com os ítens selecionados
#colunas_selecionadas = ['Dt. Desembarque', 'Matrícula', 'Nome [Passageiro]',
#                        'Cia [Trecho]', 'Fornecedor do Serviço', 'Sigla Cia. Aérea',
#                        'Localizador', 'Bilhete', 'Data Emissão', 'Class.Produto',
#                        'Valor [Recebimento]', 'Tarifa [R$] Cliente', 'Tx.Embarque',
#                        'Tx.Extra', 'Tarifa Cheia Cliente', 'Número Pedido', 'N°.Reg.Gov.',
#                        'Fatura [Recebimento]', 'C.Custo Cliente (Descrição)', 'Tx.Sucesso',
#                        'Taxa DU Líquida', 'Forma Cartão [Recebimento]', 'Comissão Emissor Externo',
#                        'Economia Realizada', 'Rota Completa', 'Data Saída [Trecho]', 'Valor Acordo',
#                        'Valor Comis.AGT.', 'Voos da Rota', 'Data Cancelamento', 'Valor Comis.Rec.',
#                        'Valor CPMF', 'Voo [Trecho]', 'Data Devolução', 'Valor Câmbio', 'Valor Câmbio Fornec',
#                        'Data Exp. Documento', 'Valor Comis.Rep.', 'Valor Diária Balcão [Apartamento]',
#                        'Cupom [Trecho]', 'Data Nascimento [Passageiro]', 'Valor Apli. Rec.',
#                        'Valor Diária [Apartamento]', 'Cód. tarifa [Trecho]', 'Data Nascimento Pax',
#                        'Valor ISS Aplicado.', 'Valor Geral Taxas (Cliente)', 'Classe [Trecho]',
#                        'Classe do Vôo', 'Classes da Rota', 'Regime', 'CPF Passageiro',
#                        'Cód. tarifa da rota', 'Cód. Autorização Cartão [Recebimento]',
#                        'Autorizador', 'Atividade', 'Antecedência', 'Data Retirada',
#                        'Fee Pagar', 'Motivo da Viagem', 'Trecho_1', 'Trecho_2',
#       'Trecho_3', 'Trecho_4', 'Trecho_5', 'Trecho_6', 'Data_Aprovacao',
#       'Hora_Aprovacao', 'Data_Saída', 'Hora_Saída', 'Data_Emissão',
#       'Hora_Emissão']

In [110]:
dados_separados_aereo.columns.values

array(['data_chegada_txt', 'Matrícula', 'Nome [Passageiro]',
       'Cia [Trecho]', 'Fornecedor do Serviço', 'Sigla Cia. Aérea',
       'Localizador', 'Bilhete', 'Data Emissão', 'Class.Produto',
       'Valor [Recebimento]', 'Tarifa [R$] Cliente', 'Tx.Embarque',
       'Tx.Extra', 'Tarifa Cheia Cliente', 'Número Pedido', 'N°.Reg.Gov.',
       'Fatura [Recebimento]', 'C.Custo Cliente (Descrição)', 'taxa_fee',
       'taxa_fee_paga', 'fatura_paga', 'Comissão Emissor Externo',
       'Economia Realizada', 'Trecho_1', 'Data Saída [Trecho]', 'TARIFA1',
       'TAXA_EMBARQUE1', 'Trecho_2', 'DATA_CHEGADA2', 'TARIFA2',
       'TAXA_EMBARQUE2', 'Trecho_3', 'DATA_CHEGADA3', 'TARIFA3',
       'TAXA_EMBARQUE3', 'Trecho_4', 'DATA_CHEGADA4', 'TARIFA4',
       'TAXA_EMBARQUE4', 'Trecho_5', 'DATA_CHEGADA5', 'TARIFA5',
       'TAXA_EMBARQUE5', 'Trecho_6', 'DATA_CHEGADA6', 'TARIFA6',
       'TAXA_EMBARQUE6', 'Classe [Trecho]', 'classe_trecho_2',
       'classe_trecho_3', 'classe_trecho_4', 'classe_trecho_5',
       'classe_trecho_6', 'Data_Aprovacao', 'Hora_Aprovacao',
       'taxa_fee_reembolso', 'Motivo da Viagem', 'Autorizador',
       'CÓDIGO_AUTORIZADOR', 'Nome_Autorizador'], dtype=object)

In [111]:
#dados_separados_aereo['TARIFA1'] = dados_separados_aereo['TARIFA1'].apply(lambda x: str(x).replace(",",""))
#dados_separados_aereo['TARIFA2'] = dados_separados_aereo['TARIFA2'].apply(lambda x: str(x).replace(",",""))
#dados_separados_aereo['TARIFA2'] = dados_separados_aereo['TARIFA2'].apply(lambda _: float(_))

In [112]:
#renomear todas as colunas aereo
dados_separados_aereo.rename(columns={
"data_chegada_txt": "data_chegada_txt",
"Matrícula": "mat viajante",
"Nome [Passageiro]": "nome viajante",
"Cia [Trecho]": "cod cia",
"Fornecedor do Serviço": "nome cia ", 
"Sigla Cia. Aérea": "sigla cia ",
"Localizador": "localizador",
"Bilhete": "n bilhete ",
"Data Emissão": "data emissao",
"Class.Produto": "tipo",
"Valor [Recebimento]": "valor pago",
"Tarifa [R$] Cliente": "valor tarifa",
"Tx.Embarque": "valor taxa",
"Tx.Extra": "valor outras",
"Tarifa Cheia Cliente": "valor tarifa cheia",
"Número Pedido": "n_req",
"N°.Reg.Gov.": "n_req_sap",
"Fatura [Recebimento]": "n fatura",
"C.Custo Cliente (Descrição)": "destinacao_contabil",
"taxa fee": "taxa fee",
"taxa fee_paga": "taxa fee_paga",
"fatura_paga": "fatura_paga",
"Comissão Emissor Externo": "comissao",
"Economia Realizada": "economia",
"Trecho_1": "trecho 1",
"Data Saída [Trecho]": "data trecho 1",
"TARIFA1": "valor_tarifa_trecho_1",
"TAXA_EMBARQUE1": "valor_taxa_trecho_1",
"Trecho_2": "trecho 2",
"DATA_CHEGADA2": "data trecho 2",
"TARIFA2": "valor_tarifa_trecho_2",
"TAXA_EMBARQUE2": "valor_taxa_trecho_2",
"Trecho_3": "trecho 3",
"DATA_CHEGADA3": "data trecho 3",
"TARIFA3": "valor_tarifa_trecho_3",
"TAXA_EMBARQUE3": "valor_taxa_trecho_3",
"Trecho_4": "trecho 4",
"DATA_CHEGADA4": "data trecho 4",
"TARIFA4": "valor_tarifa_trecho_4",
"TAXA_EMBARQUE4": "valor_taxa_trecho_4",
"Trecho_5": "trecho 5",
"DATA_CHEGADA5": "data trecho 5",
"TARIFA5": "valor_tarifa_trecho_5",
"TAXA_EMBARQUE5": "valor_taxa_trecho_5",
"Trecho_6": "trecho 6",
"DATA_CHEGADA6": "data trecho 6",
"TARIFA6": "valor_tarifa_trecho_6",
"TAXA_EMBARQUE6": "valor_taxa_trecho_6",
"Classe [Trecho]": "classe_trecho_1",
"classe_trecho_2": "classe_trecho_2",
"classe_trecho_3": "classe_trecho_3",
"classe_trecho_4": "classe_trecho_4",
"classe_trecho_5": "classe_trecho_5",
"classe_trecho_6": "classe_trecho_6",
"CÓDIGO_AUTORIZADOR": "mat aprovador",
"Data_Aprovacao": "data aprovacao",
"Hora_Aprovacao": "hora aprovacao", 
"taxa_fee_reembolso": "taxa fee reembolso",
"Motivo da Viagem": "justificativa de viagem",
}, inplace=True)

In [113]:
dados_separados_aereo.columns.values

array(['data_chegada_txt', 'mat viajante', 'nome viajante', 'cod cia',
       'nome cia ', 'sigla cia ', 'localizador', 'n bilhete ',
       'data emissao', 'tipo', 'valor pago', 'valor tarifa', 'valor taxa',
       'valor outras', 'valor tarifa cheia', 'n_req', 'n_req_sap',
       'n fatura', 'destinacao_contabil', 'taxa_fee', 'taxa_fee_paga',
       'fatura_paga', 'comissao', 'economia', 'trecho 1', 'data trecho 1',
       'valor_tarifa_trecho_1', 'valor_taxa_trecho_1', 'trecho 2',
       'data trecho 2', 'valor_tarifa_trecho_2', 'valor_taxa_trecho_2',
       'trecho 3', 'data trecho 3', 'valor_tarifa_trecho_3',
       'valor_taxa_trecho_3', 'trecho 4', 'data trecho 4',
       'valor_tarifa_trecho_4', 'valor_taxa_trecho_4', 'trecho 5',
       'data trecho 5', 'valor_tarifa_trecho_5', 'valor_taxa_trecho_5',
       'trecho 6', 'data trecho 6', 'valor_tarifa_trecho_6',
       'valor_taxa_trecho_6', 'classe_trecho_1', 'classe_trecho_2',
       'classe_trecho_3', 'classe_trecho_4', 'classe_trecho_5',
       'classe_trecho_6', 'data aprovacao', 'hora aprovacao',
       'taxa fee reembolso', 'justificativa de viagem', 'Autorizador',
       'mat aprovador', 'Nome_Autorizador'], dtype=object)

In [114]:
#dados_separados_aereo3['valor pago'] = dados_separados_aereo3['valor pago'].apply(lambda _: float(_))

In [115]:
dados_separados_aereo.columns.values

array(['data_chegada_txt', 'mat viajante', 'nome viajante', 'cod cia',
       'nome cia ', 'sigla cia ', 'localizador', 'n bilhete ',
       'data emissao', 'tipo', 'valor pago', 'valor tarifa', 'valor taxa',
       'valor outras', 'valor tarifa cheia', 'n_req', 'n_req_sap',
       'n fatura', 'destinacao_contabil', 'taxa_fee', 'taxa_fee_paga',
       'fatura_paga', 'comissao', 'economia', 'trecho 1', 'data trecho 1',
       'valor_tarifa_trecho_1', 'valor_taxa_trecho_1', 'trecho 2',
       'data trecho 2', 'valor_tarifa_trecho_2', 'valor_taxa_trecho_2',
       'trecho 3', 'data trecho 3', 'valor_tarifa_trecho_3',
       'valor_taxa_trecho_3', 'trecho 4', 'data trecho 4',
       'valor_tarifa_trecho_4', 'valor_taxa_trecho_4', 'trecho 5',
       'data trecho 5', 'valor_tarifa_trecho_5', 'valor_taxa_trecho_5',
       'trecho 6', 'data trecho 6', 'valor_tarifa_trecho_6',
       'valor_taxa_trecho_6', 'classe_trecho_1', 'classe_trecho_2',
       'classe_trecho_3', 'classe_trecho_4', 'classe_trecho_5',
       'classe_trecho_6', 'data aprovacao', 'hora aprovacao',
       'taxa fee reembolso', 'justificativa de viagem', 'Autorizador',
       'mat aprovador', 'Nome_Autorizador'], dtype=object)

In [116]:
dados_separados_aereo[['num_ped1', 'num_ped2']] = dados_separados_aereo['n_req'].str.split('-', expand=True)

In [117]:
#colunas que estão com os ítens selecionados
colunas_selecionadas_aereo_depois = ['data_chegada_txt', 'mat viajante', 'nome viajante', 'cod cia',
       'nome cia ', 'sigla cia ', 'localizador', 'n bilhete ',
       'data emissao', 'tipo', 'valor pago', 'valor tarifa', 'valor taxa',
       'valor outras', 'valor tarifa cheia', 'num_ped1', 'n_req_sap',
       'n fatura', 'destinacao_contabil', 'taxa_fee', 'taxa_fee_paga',
       'fatura_paga', 'comissao', 'economia', 'trecho 1', 'data trecho 1',
       'valor_tarifa_trecho_1', 'valor_taxa_trecho_1', 'trecho 2',
       'data trecho 2', 'valor_tarifa_trecho_2', 'valor_taxa_trecho_2',
       'trecho 3', 'data trecho 3', 'valor_tarifa_trecho_3',
       'valor_taxa_trecho_3', 'trecho 4', 'data trecho 4',
       'valor_tarifa_trecho_4', 'valor_taxa_trecho_4', 'trecho 5',
       'data trecho 5', 'valor_tarifa_trecho_5', 'valor_taxa_trecho_5',
       'trecho 6', 'data trecho 6', 'valor_tarifa_trecho_6',
       'valor_taxa_trecho_6', 'classe_trecho_1', 'classe_trecho_2',
       'classe_trecho_3', 'classe_trecho_4', 'classe_trecho_5',
       'classe_trecho_6', 'mat aprovador', 'data aprovacao',
       'hora aprovacao', 'taxa fee reembolso', 'justificativa de viagem'
 ]

In [118]:
#filtra e organiza os dados pelas colunas que foram passadas
dados_separados_aereo3 = dados_separados_aereo.filter(items=colunas_selecionadas_aereo_depois)

In [119]:
#renomear todas as colunas aereo
dados_separados_aereo3.rename(columns={
"data_chegada_txt": "data_chegada_txt",
"mat viajante": "mat viajante",
"nome viajante": "nome viajante",
"cod cia": "cod cia",
"nome cia": "nome cia", 
"sigla cia": "sigla cia",
"localizador": "localizador",
"n bilhete": "n bilhete ",
"data emissao": "data emissao",
"tipo": "tipo",
"valor pago": "valor pago",
"valor tarifa": "valor tarifa",
"valor taxa": "valor taxa",
"valor outras": "valor outras",
"valor tarifa cheia": "valor tarifa cheia",
"num_ped1": "n_req",
"n_req_sap": "n_req_sap",
"n fatura": "n fatura",
"destinacao_contabil": "destinacao_contabil",
"taxa_fee": "taxa fee",
"taxa_fee_paga": "taxa fee_paga",
"fatura_paga": "fatura_paga",
"comissao": "comissao",
"economia": "economia",
"trecho 1": "trecho 1",
"data trecho 1": "data trecho 1",
"valor_tarifa_trecho_1": "valor_tarifa_trecho_1",
"valor_taxa_trecho_1": "valor_taxa_trecho_1",
"trecho 2": "trecho 2",
"data trecho 2": "data trecho 2",
"valor_tarifa_trecho_2": "valor_tarifa_trecho_2",
"valor_taxa_trecho_2": "valor_taxa_trecho_2",
"trecho 3": "trecho 3",
"data trecho 3": "data trecho 3",
"valor_tarifa_trecho_3": "valor_tarifa_trecho_3",
"valor_taxa_trecho_3": "valor_taxa_trecho_3",
"trecho 4": "trecho 4",
"data trecho 4": "data trecho 4",
"valor_tarifa_trecho_4": "valor_tarifa_trecho_4",
"valor_taxa_trecho_4": "valor_taxa_trecho_4",
"trecho 5": "trecho 5",
"data trecho 5": "data trecho 5",
"valor_tarifa_trecho_5": "valor_tarifa_trecho_5",
"valor_taxa_trecho_5": "valor_taxa_trecho_5",
"trecho 6": "trecho 6",
"data trecho 6": "data trecho 6",
"valor_tarifa_trecho_6": "valor_tarifa_trecho_6",
"valor_taxa_trecho_6": "valor_taxa_trecho_6",
"classe_trecho_1": "classe_trecho_1",
"classe_trecho_2": "classe_trecho_2",
"classe_trecho_3": "classe_trecho_3",
"classe_trecho_4": "classe_trecho_4",
"classe_trecho_5": "classe_trecho_5",
"classe_trecho_6": "classe_trecho_6",
"mat aprovador": "mat aprovador",
"data aprovacao": "data aprovacao",
"hora aprovacao": "hora aprovacao", 
"taxa fee reembolso": "taxa fee reembolso",
"justificativa de viagem": "justificativa de viagem",
}, inplace=True)

In [120]:
#
##
###
dados_separados_aereo3 = dados_separados_aereo3.drop_duplicates(subset='localizador', keep='first')

In [121]:
#dados_separados_aereo3 = dados_separados_aereo3.sort_values('data emissao', ascending=True)

In [122]:
dados_separados_aereo3['data trecho 2'] = pd.to_datetime(dados_separados_aereo3['data trecho 2'])

In [123]:
dados_separados_aereo3['data trecho 2'] = dados_separados_aereo3['data trecho 2'].dt.strftime('%d/%m/%Y')

In [124]:
#dados_separados_aereo3.to_excel('PLANILHA_AEREO.xlsx', index=False)

In [125]:
#PLANILHA RELATÓRIO - colunas que estão com os ítens selecionados
colunas_selecionadas_relatorio = ['n fatura', 'n_req_sap', 'destinacao_contabil', 'valor pago',   ]

In [126]:
#PLANILHA RELATÓRIO - filtra e organiza os dados pelas colunas que foram passadas
dados_separados_aereo2 = dados_separados_aereo3.filter(items=colunas_selecionadas_relatorio)

In [127]:
#
##
###
#dados_separados_aereo2 = dados_separados_aereo2.drop_duplicates(subset='valor pago', keep='first')

In [128]:
dados_separados_aereo2 = dados_separados_aereo2.sort_values('n_req_sap', ascending=True)

In [129]:
dados_separados_aereo2.to_excel('Relatório.xlsx', index=False)

In [130]:
dados_separados_aereo3 = pd.DataFrame(dados_separados_aereo3)
datatypes_per_column = {
    "valor pago": "float64",
       "valor tarifa": "float64",
       "valor taxa": "float64",
       "valor tarifa cheia": "float64",
       "mat viajante":"string",
       "n bilhete ":"string",
       "n_req_sap" : "string",
       "economia": "float64",
       "comissao": "float64",
       "valor outras": "float64",
       #"valor_tarifa_trecho_1": "float64",
       #"valor_tarifa_trecho_2": "float64",
       }
dados_separados_aereo3 = dados_separados_aereo3.astype(datatypes_per_column)

In [131]:
#dados_separados_aereo3['valor_tarifa_trecho_1'] = dados_separados_aereo3['valor_tarifa_trecho_1'].apply(lambda x: str(x).replace(",","."))

In [132]:
#dados_separados_aereo3['valor_tarifa_trecho_1'] = dados_separados_aereo3['valor_tarifa_trecho_1'].apply(lambda x: str(x).replace(",","."))
#dados_separados_aereo3['valor_tarifa_trecho_2'] = dados_separados_aereo3['valor_tarifa_trecho_2'].apply(lambda x: str(x).replace(",","."))

In [133]:
#dados_separados_aereo3['valor_tarifa_trecho_1'] = dados_separados_aereo3['valor_tarifa_trecho_1'].astype('float')
#dados_separados_aereo3['valor_tarifa_trecho_1'] = pd.to_numeric(dados_separados_aereo3['valor_tarifa_trecho_1'], errors='coerce')
#dados_separados_aereo3 = dados_separados_aereo3.replace(np.nan, 0, regex=True)
#dados_separados_aereo3['valor_tarifa_trecho_2'] = pd.to_numeric(dados_separados_aereo3['valor_tarifa_trecho_2'], errors='coerce')

In [134]:
dados_separados_aereo3['mat viajante'] = dados_separados_aereo3['mat viajante'].str.rstrip('0')
dados_separados_aereo3['mat viajante'] = dados_separados_aereo3['mat viajante'].str.rstrip('.')

In [135]:
dados_separados_aereo3['n bilhete '] = dados_separados_aereo3['n bilhete '].str.rstrip('0')
dados_separados_aereo3['n bilhete '] = dados_separados_aereo3['n bilhete '].str.rstrip('.')

In [136]:
dados_separados_aereo3['n_req_sap'] = dados_separados_aereo3['n_req_sap'].str.rstrip('0')
dados_separados_aereo3['n_req_sap'] = dados_separados_aereo3['n_req_sap'].str.rstrip('.')

In [137]:
#dados_separados_aereo3['valor_tarifa_trecho_1'] = dados_separados_aereo3['valor_tarifa_trecho_1'].str.lstrip('.')

In [138]:
dados_separados_aereo3.dtypes

data_chegada_txt            object
mat viajante                string
nome viajante               object
cod cia                     object
nome cia                    object
sigla cia                   object
localizador                 object
n bilhete                   string
data emissao                object
tipo                        object
valor pago                 float64
valor tarifa               float64
valor taxa                 float64
valor outras               float64
valor tarifa cheia         float64
n_req                       object
n_req_sap                   string
n fatura                    object
destinacao_contabil         object
taxa fee                    object
taxa fee_paga               object
fatura_paga                 object
comissao                   float64
economia                   float64
trecho 1                    object
data trecho 1               object
valor_tarifa_trecho_1       object
valor_taxa_trecho_1         object
trecho 2                    object
data trecho 2               object
valor_tarifa_trecho_2       object
valor_taxa_trecho_2         object
trecho 3                   float64
data trecho 3              float64
valor_tarifa_trecho_3       object
valor_taxa_trecho_3         object
trecho 4                   float64
data trecho 4              float64
valor_tarifa_trecho_4       object
valor_taxa_trecho_4         object
trecho 5                   float64
data trecho 5              float64
valor_tarifa_trecho_5       object
valor_taxa_trecho_5         object
trecho 6                   float64
data trecho 6              float64
valor_tarifa_trecho_6       object
valor_taxa_trecho_6         object
classe_trecho_1             object
classe_trecho_2             object
classe_trecho_3             object
classe_trecho_4             object
classe_trecho_5             object
classe_trecho_6             object
mat aprovador               string
data aprovacao              object
hora aprovacao              object
taxa fee reembolso          object
justificativa de viagem     object
dtype: object

In [139]:
dados_separados_aereo3['valor tarifa cheia'] = dados_separados_aereo3['valor tarifa cheia'].apply(lambda x: str(x).replace(".", ","))
dados_separados_aereo3['valor taxa'] = dados_separados_aereo3['valor taxa'].apply(lambda x: str(x).replace(".", ","))
dados_separados_aereo3['valor tarifa'] = dados_separados_aereo3['valor tarifa'].apply(lambda x: str(x).replace(".", ","))
dados_separados_aereo3['valor pago'] = dados_separados_aereo3['valor pago'].apply(lambda x: str(x).replace(".", ","))
dados_separados_aereo3['economia'] = dados_separados_aereo3['economia'].apply(lambda x: str(x).replace(".", ","))
dados_separados_aereo3['comissao'] = dados_separados_aereo3['comissao'].apply(lambda x: str(x).replace(".", ","))
dados_separados_aereo3['valor outras'] = dados_separados_aereo3['valor outras'].apply(lambda x: str(x).replace(".", ","))
#dados_separados_aereo3['valor_tarifa_trecho_1'] = dados_separados_aereo3['valor_tarifa_trecho_1'].map(lambda x: x.lstrip('.'))
#dados_separados_aereo3['valor_tarifa_trecho_1'] = dados_separados_aereo3['valor_tarifa_trecho_1'].apply(lambda x: str(x).replace(".", ","))
#dados_separados_aereo3['valor_tarifa_trecho_2'] = dados_separados_aereo3['valor_tarifa_trecho_2'].apply(lambda x: str(x).replace(".", ","))

In [140]:
#pd.set_option('float_format', '{:.3f}'.format)
dados_separados_aereo3['valor_tarifa_trecho_1'].fillna('00', inplace = True)
dados_separados_aereo3['valor_tarifa_trecho_2'].fillna('00', inplace = True)

In [141]:
dados_separados_aereo3['valor_tarifa_trecho_1'] = dados_separados_aereo3['valor_tarifa_trecho_1'].apply(lambda x: str(x).replace(".", "").replace(",", "."))
dados_separados_aereo3['valor_tarifa_trecho_2'] = dados_separados_aereo3['valor_tarifa_trecho_2'].apply(lambda x: str(x).replace(".", "").replace(",", "."))
dados_separados_aereo3['valor_tarifa_trecho_1'] = dados_separados_aereo3['valor_tarifa_trecho_1'].apply(lambda x: str(x).replace(",", "."))
dados_separados_aereo3['valor_tarifa_trecho_1'] = dados_separados_aereo3['valor_tarifa_trecho_1'].replace(np.nan, 0)
dados_separados_aereo3['valor_tarifa_trecho_1'] = dados_separados_aereo3['valor_tarifa_trecho_1'].astype('float64')
dados_separados_aereo3['valor_tarifa_trecho_1'] = dados_separados_aereo3['valor_tarifa_trecho_1'].apply(lambda x: str(x).replace(".", ","))
dados_separados_aereo3['valor_tarifa_trecho_2'] = dados_separados_aereo3['valor_tarifa_trecho_2'].apply(lambda x: str(x).replace(",", "."))
dados_separados_aereo3['valor_tarifa_trecho_2'] = dados_separados_aereo3['valor_tarifa_trecho_2'].astype('float64')
dados_separados_aereo3['valor_tarifa_trecho_2'] = dados_separados_aereo3['valor_tarifa_trecho_2'].apply(lambda x: str(x).replace(".", ","))

#dados_separados_aereo3['valor_tarifa_trecho_1'].str.replace('.', ' ', n=1)
#dados_separados_aereo3.style.format("{:.2%}")
#dados_separados_aereo3['valor_tarifa_trecho_1'] = float(dados_separados_aereo3['valor_tarifa_trecho_1'].replace('.','').replace(',','.'))

In [142]:


#values = {"valor_tarifa_trecho_1": 0, "valor_tarifa_trecho_2": 00}
#dados_separados_aereo3.fillna(value=values)

In [143]:
dados_separados_aereo3.to_csv('csv_aereo.csv', index=False, sep=';',  encoding='latin-1')

In [144]:
#dados_separados_aereo3.to_excel('RELATÓRIO.xlsx', index=False)

In [145]:
#df_autorizador.to_dict()

In [146]:
#dados_separados['CÓDIGO_AUT'] = [df_autorizador[resp] for resp in dados_separados.Autorizador]

In [147]:
#df_autorizador['22659']